.cardTitle {
    font-weight: "bold";
    text-align: center;
}

.cardBody {
    font-weight: "300";
    text-align: center;
}

.header {
    font-weight: "bold";
    text-align: center;
    font-family: "Marker Felt";
    margin-bottom: 1rem;
}

.description {
    font-size: 1.2rem;
    width: 75%;
    text-align: center;
    font-weight: bold;
}

.logo {
    width: 100px;
    height: 100px;
    margin: "0 1rem";
    transition: transform 0.25s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.marqueeParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.marquee {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.techHeader {
    font-weight: "bold";
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

.techTitle {
    font-weight: "bold";
    text-align: center;
    margin-top: 1rem;
}
