.textName {
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

.textDescription {
    color: black;
    font-size: 1.4rem;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

.textBody {
    text-align: center;
    width: 50%;
    margin-right: 10rem;
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
}

@media (max-width: 1200px) {
    .bodyContainer {
        flex-direction: column;
        height: auto;
    }

    .textBody {
        width: 100%;
        margin-right: 0;
    }

    .textDescription {
        width: 100%;
    }

    .profileImage {
        width: 100%;
        max-width: 300px;
    }
}

.avatarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.avatarIconButton {
    height: 50px;
    width: 50px;
}

.homeContainer {
    min-height: 100vh;
    padding: 2rem;
}
